In [22]:
#importando bibliotecas
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

Explorando Pedidos

In [31]:
#importando dados dos pedidos
df_orders = pd.read_csv('src\olist_orders_dataset.csv')
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [32]:
#pegando uma amostra dos dados
df_orders.sample(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
10687,dc282855b102a2d5cffe41332d73c196,b03e5dbf77ad3ea29b898e6b6a36d047,delivered,2017-07-04 11:56:02,2017-07-04 12:10:17,2017-07-06 10:21:30,2017-07-10 21:17:49,2017-07-27 00:00:00
98814,dfe94fc0123a2667259503f695edf46e,cbb1eca90285dadf3f1bf7b5848d8252,delivered,2017-09-12 15:36:04,2017-09-12 15:50:13,2017-09-21 19:52:45,2017-10-03 19:48:54,2017-11-24 00:00:00
52038,ae84411ef203ed6a3cdc4e239536b958,b435b489e4d9921ea0ac305e4e9ae452,delivered,2017-09-21 11:48:14,2017-09-21 12:06:52,2017-09-22 18:07:08,2017-09-29 19:18:50,2017-10-16 00:00:00
36480,af74613502131dd6a43380df619a57ab,857989fed7e83a38033173b9852ca39c,delivered,2017-06-11 18:18:07,2017-06-11 18:35:12,2017-06-14 15:03:35,2017-06-28 15:05:07,2017-07-17 00:00:00
57785,6149381a3f89663b98bdbf7728d37cce,c167ffdd53d4ef353ae34d914fdaef97,delivered,2018-05-14 14:38:32,2018-05-15 14:35:49,2018-05-21 14:21:00,2018-06-04 23:11:33,2018-05-28 00:00:00
12137,b0c6259cdeba00d7ffe88f50be25f57e,880debca84176936aef2ede72ff166e8,delivered,2018-01-22 14:14:28,2018-01-22 14:33:10,2018-01-24 18:08:52,2018-02-15 20:47:02,2018-02-19 00:00:00
44629,95f552c5bebbb2d3c6ff73da9ff5e2ad,531848f78249503b665b3dfa71732bed,delivered,2017-05-16 11:42:33,2017-05-16 11:55:17,2017-05-23 12:37:41,2017-05-24 12:15:02,2017-05-29 00:00:00
41133,2c9015a3c9e7ded7dc344a1536b2c72f,8fc8ae50a5db16c2ef987e3ed64c3956,delivered,2017-07-26 09:28:11,2017-07-26 09:42:56,2017-07-27 19:44:48,2017-08-02 11:56:47,2017-08-08 00:00:00
40199,2fc7fe2e06e84beba127768beb2f705e,eb45ea5db48052fd29e0c6dc79b40de3,delivered,2018-08-03 00:36:26,2018-08-03 00:50:14,2018-08-09 14:03:00,2018-08-13 23:06:44,2018-08-10 00:00:00
77726,3123ac94cc04ba74266ab34f2529bd33,e31c8fe91d2166f85f9363713fcc77d1,delivered,2018-07-27 11:10:59,2018-07-27 11:25:11,2018-07-27 15:23:00,2018-08-02 19:12:14,2018-08-23 00:00:00

In [33]:
#verificando tipo dos dados
df_orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [37]:
#convertendo a coluna de data para o tipo datetime
#Para order_purchase_timestamp
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])
#Para order_approved_at
df_orders['order_approved_at'] = pd.to_datetime(df_orders['order_approved_at'])
#Para order_delivered_carrier_date
df_orders['order_delivered_carrier_date'] = pd.to_datetime(df_orders['order_delivered_carrier_date'])
#Para order_delivered_customer_date
df_orders['order_delivered_customer_date'] = pd.to_datetime(df_orders['order_delivered_customer_date'])
#Para order_estimated_delivery_date
df_orders['order_estimated_delivery_date'] = pd.to_datetime(df_orders['order_estimated_delivery_date'])

#convertendo a coluna order_status
df_orders['order_status'] = df_orders['order_status'].astype('string')

df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26