In [14]:
import pandas as pd
import numpy as np
from collections import defaultdict

In [ ]:
df_clientes = pd.read_csv(r"src/dados_clientes.csv", sep=';')

(238597, 16)

In [6]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238597 entries, 0 to 238596
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CD_CLIENTE              238597 non-null  object
 1   DS_PROD                 238597 non-null  object
 2   DS_LIN_REC              238597 non-null  object
 3   CIDADE                  238597 non-null  object
 4   DS_CNAE                 238597 non-null  object
 5   DS_SEGMENTO             238597 non-null  object
 6   DS_SUBSEGMENTO          238553 non-null  object
 7   FAT_FAIXA               238597 non-null  object
 8   MARCA_TOTVS             237693 non-null  object
 9   MODAL_COMERC            226965 non-null  object
 10  PAIS                    238597 non-null  int64
 11  PERIODICIDADE           238531 non-null  object
 12  SITUACAO_CONTRATO       238096 non-null  object
 13  UF                      238597 non-null  object
 14  VL_TOTAL_CONTRATO       238597 non-null  object
 15  DT_ASSINATURA_CONTRATO  238597 non-null  object
dtypes: int64(1), object(15)
memory usage: 29.1+ MB

In [8]:
df_clientes_att = df_clientes.dropna()
df_clientes_att.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226346 entries, 0 to 238596
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CD_CLIENTE              226346 non-null  object
 1   DS_PROD                 226346 non-null  object
 2   DS_LIN_REC              226346 non-null  object
 3   CIDADE                  226346 non-null  object
 4   DS_CNAE                 226346 non-null  object
 5   DS_SEGMENTO             226346 non-null  object
 6   DS_SUBSEGMENTO          226346 non-null  object
 7   FAT_FAIXA               226346 non-null  object
 8   MARCA_TOTVS             226346 non-null  object
 9   MODAL_COMERC            226346 non-null  object
 10  PAIS                    226346 non-null  int64
 11  PERIODICIDADE           226346 non-null  object
 12  SITUACAO_CONTRATO       226346 non-null  object
 13  UF                      226346 non-null  object
 14  VL_TOTAL_CONTRATO       226346 non-null  object
 15  DT_ASSINATURA_CONTRATO  226346 non-null  object
dtypes: int64(1), object(15)
memory usage: 29.4+ MB

In [18]:
df_clientes_varejo = df_clientes_att[df_clientes_att.DS_SEGMENTO == 'SERVICOS']
df_clientes_att.shape, df_clientes_varejo.shape

((226346, 16), (36424, 16))

In [29]:
itens = df_clientes_varejo.DS_PROD.unique()


nichos = {
    "SaaS": ["SAAS"],
    "Cloud": ["CLOUD", "CLOUDFICACAO"],
    "Consultoria": ["CONSULTORIA"],
    "Educação": ["EDUCACAO", "CURSOS"],
    "CRM": ["CRM"],
    "Financeiro / Techfin": ["TECHFIN", "RECEITA", "NFCE"],
    "Hardware": ["HARDWARE"],
    "Serviços Mensalizados": ["MENSALIZADOS"],
    "Integração / Plataforma": ["PLATAFORMA", "PVT", "CMNET"],
    "Inteligência de Mercado": ["INTELIGENCIA"]
}


agrupados = defaultdict(list)

for item in itens:
    item_upper = item.upper()
    encontrado = False
    for nicho, palavras in nichos.items():
        if any(palavra in item_upper for palavra in palavras):
            agrupados[nicho].append(item)
            encontrado = True
            break
    if not encontrado:
        agrupados["Outros"].append(item)

dados_nichos = []
for nicho, lista in agrupados.items():
    for segmento in lista:
        dados_nichos.append((segmento, nicho))

In [48]:
df_nichos = pd.DataFrame(dados_nichos, columns=["DS_PROD", "NICHO"])
df_clientes_varejo.DS_PROD.nunique(), df_nichos.shape

(3060, (3060, 2))

In [41]:
 df_clientes_varejo_att = df_clientes_varejo.merge(df_nichos, how='left', on='DS_PROD')

In [53]:
df_clientes_varejo_att.head(10)

,CD_CLIENTE,DS_PROD,DS_LIN_REC,CIDADE,DS_CNAE,DS_SEGMENTO,DS_SUBSEGMENTO,FAT_FAIXA,MARCA_TOTVS,MODAL_COMERC,PAIS,PERIODICIDADE,SITUACAO_CONTRATO,UF,VL_TOTAL_CONTRATO,DT_ASSINATURA_CONTRATO,NICHO
0,99958,SMS FULL TOTVS TRAD,SMS TOTVS SERIE T,JOINVILLE,PESSOA FISICA (SEM CNAE),SERVICOS,PROVEDOR SERVICOS,Faixa 09 - De 300 M ate 500 M,CROSS - TRADICIONAL,MODALIDADE TRADICIONAL,105,00 - Mensal,GRATUITO,SC,"1633817,36581438",2016-04-07,Outros
1,99958,CDU FULL TOTVS TRAD,CDU TOTVS SERIE T,JOINVILLE,PESSOA FISICA (SEM CNAE),SERVICOS,PROVEDOR SERVICOS,Faixa 09 - De 300 M ate 500 M,CROSS - TRADICIONAL,MODALIDADE TRADICIONAL,105,00 - Mensal,GRATUITO,SC,"42,0343698218297",2016-04-07,Outros
2,T00018,FEE - GDS INTERNACIONAL,RECEITA TRANSACIONAL,SAOPAULO,Hoteis,SERVICOS,VIAGENS,"Faixa 02 - De 7,5 M ate 15 M",HOSPITALIDADE - CORE,MODALIDADE SERVICOS RECORRENTES,105,00 - Mensal,CANCELADO,SP,"0,420385736791976",2002-01-01,Outros
3,T00018,ASSINATURA MENSAL INTERNET CMN,SERVICOS CMNET RESERVAS,SAOPAULO,Hoteis,SERVICOS,VIAGENS,"Faixa 02 - De 7,5 M ate 15 M",HOSPITALIDADE - CORE,MODALIDADE SERVICOS RECORRENTES,105,00 - Mensal,CANCELADO,SP,"0,739878896753878",2002-01-01,Outros
4,T00018,SMS LGT G. CAP HUMANO TRAD,SMS TOTVS SERIE T,SAOPAULO,Hoteis,SERVICOS,VIAGENS,"Faixa 02 - De 7,5 M ate 15 M",RH - CORE,MODALIDADE TRADICIONAL,105,00 - Mensal,ATIVO,SP,"203,063126299996",2015-09-02,Outros
5,T00018,SMS LGT G. CAP HUMANO TRAD,SMS TOTVS SERIE T,SAOPAULO,Hoteis,SERVICOS,VIAGENS,"Faixa 02 - De 7,5 M ate 15 M",RH - CORE,MODALIDADE TRADICIONAL,105,00 - Mensal,GRATUITO,SP,"0,0126115721037593",2015-09-02,Outros
6,T00018,FEE - GDS NACIONAL,RECEITA TRANSACIONAL,SAOPAULO,Hoteis,SERVICOS,VIAGENS,"Faixa 02 - De 7,5 M ate 15 M",HOSPITALIDADE - CORE,MODALIDADE SERVICOS RECORRENTES,105,00 - Mensal,CANCELADO,SP,"0,420385736791976",2002-01-01,Outros
7,99958,SMS FULL TOTVS ALUG,SAAS SMS ALUGUEL,JOINVILLE,PESSOA FISICA (SEM CNAE),SERVICOS,PROVEDOR SERVICOS,Faixa 09 - De 300 M ate 500 M,CROSS - TRADICIONAL,MODALIDADE ALUGUEL (LEGADO),105,00 - Mensal,GRATUITO,SC,"56,5544931706245",2016-04-07,Outros
8,T00361,PONTO DE VENDA POS > 1 ID,SAAS CMNET THEX,SAOPAULO,OUTRAS ATIVIDADES ASSOCIATIVAS PROFISSIONAIS,SERVICOS,PROVEDOR SERVICOS,Sem Informações de Faturamento,HOSPITALIDADE - CORE,MODALIDADE ASSINATURA COMPLEMENTAR,105,00 - Mensal,CANCELADO,SP,"222,682528636078",2021-10-14,Outros
9,T00018,SMS TOTVS TEC USER,SMS TOTVS SERIE T,SAOPAULO,Hoteis,SERVICOS,VIAGENS,"Faixa 02 - De 7,5 M ate 15 M",TECNOLOGIA,MODALIDADE TRADICIONAL,105,00 - Mensal,GRATUITO,SP,"0,0210192868395988",2015-09-02,Outros

In [54]:
df_clientes_varejo_att['QUARTER'] = pd.to_datetime(df_clientes_varejo_att.DT_ASSINATURA_CONTRATO).dt.quarter

In [60]:
df_clientes_varejo_att.groupby(['NICHO', 'QUARTER']).NICHO.value_counts().reset_index()

                      NICHO  QUARTER  count
0                       CRM        1     36
1                       CRM        2     72
2                       CRM        3     45
3                       CRM        4     61
4                     Cloud        1    429
5                     Cloud        2    441
6                     Cloud        3    472
7                     Cloud        4    663
8               Consultoria        3      1
9               Consultoria        4      2
10     Financeiro / Techfin        1    107
11     Financeiro / Techfin        2     87
12     Financeiro / Techfin        3    201
13     Financeiro / Techfin        4    104
14                 Hardware        3      2
15  Integração / Plataforma        1     32
16  Integração / Plataforma        2     41
17  Integração / Plataforma        3     46
18  Integração / Plataforma        4     48
19                   Outros        1   7764
20                   Outros        2   7804
21                   Outros        3   7932
22                   Outros        4   9764
23                     SaaS        1    105
24                     SaaS        2     51
25                     SaaS        3     59
26                     SaaS        4     55